# CI артефакты
/.gradle/
/build/
/out/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Docker
*.iml
*.ipr
*.iws

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.settings/
.classpath
.project

# NetBeans
nbproject/
.nb-gradle/

# VSCode
.vscode/

# Checkstyle cache
checkstyle-cachefile
checkstyle-checker.xml
checkstyle-result.xml

# Spotless
.spotless/

# Jacoco
jacoco.exec
*.exec

# Test containers
testcontainers.properties