apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: payment-mongodb-pvc
  namespace: microservice-network
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 1Gi