apiVersion: apps/v1
kind: Deployment
metadata:
  name: zookeeper
  namespace: microservice-network
  labels:
    app: zookeeper
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
      containers:
        - name: zookeeper
          image: confluentinc/cp-zookeeper:7.5.0
          ports:
            - containerPort: 2181
          env:
            - name: ZOOKEEPER_CLIENT_PORT
              valueFrom:
                secretKeyRef:
                  name: zookeeper-secret
                  key: zookeeper-client-port
#              value: "2181"
            - name: ZOOKEEPER_TICK_TIME
              valueFrom:
                secretKeyRef:
                  name: zookeeper-secret
                  key: zookeeper-tick-time
#              value: "2000"
          resources:
            requests:
              memory: "125Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: microservice-network
spec:
  selector:
    app: zookeeper
  ports:
    - port: 2181
      targetPort: 2181
  clusterIP: None